:root {
    --main-font: 'Roboto Condensed', sans-serif;
    --dark-bg: #272727;
    --light-bg: white;
    --trans: 0.3s ease;

    --ecolens-theme: #044C3B;
    --ecolens-txt: #d9e650;

    --ghosthunter-theme: #0a0a0a;
    --ghosthunter-txt: #DF6622;

    --product-theme: #1D1E4E;
    --product-txt: #FEEFAD;

    --brand-theme: #EEF7FF;
    --brand-txt: #4D869C;
}

body {
    font-family: var(--main-font);
    background-color: var(--light-bg);
    transition: background-color var(--trans);
}

body.dark-mode {
    background-color: var(--dark-bg);
}

#home-header {
    color: var(--dark-bg);
    transition: color var(--trans);
    margin-bottom: 4%;
}
body.dark-mode #home-header {
    color: var(--light-bg);
}

#home-title {
    font-size: 6vw;
    font-weight: 700;
}

#bg-btn {
    font-size: 1.5vw;
    font-weight: 500;
    background-color: var(--dark-bg);
    color: var(--light-bg);
    border: none;
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
}
body.dark-mode #bg-btn {
    color: black;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 88%;
}

.project-btn {
    font-size: 4vw;
    font-weight: 700;
    padding: 8% 0px 8% 0px;
    background-color: var(--light-bg);
    color: var(--dark-bg);
    border: 8px solid var(--dark-bg);
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1), color 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}

body.dark-mode .project-btn {
    background-color: var(--dark-bg);
    color: var(--light-bg);
    border: 8px solid var(--light-bg);
}

#ecolens-hbtn:hover {
    transform: translateX(0);
    color: var(--ecolens-txt);
    border-color: var(--ecolens-txt);
    background-color: var(--ecolens-theme);
    border-radius: 64px 0px 0px 0px;
}

#ghosthunter-hbtn:hover {
    transform: translateX(0);
    color: var(--ghosthunter-txt);
    border-color: var(--ghosthunter-txt);
    background-color: var(--ghosthunter-theme);
    border-radius: 0px 64px 0px 0px;
}

#product-hbtn:hover {
    transform: translateX(0);
    color: var(--product-txt);
    border-color: var(--product-txt);
    background-color: var(--product-theme);
    border-radius: 0px 0px 0px 64px;
}

#brand-hbtn:hover {
    transform: translateX(0);
    color: var(--brand-txt);
    border-color: var(--brand-txt);
    background-color: var(--brand-theme);
    border-radius: 0px 0px 64px 0px;
}