:root {
    --main-font: 'Outfit', sans-serif;

    --ecolens-theme: #044C3B;
    --ecolens-txt: #d9e650;
}

body {
    background-color: var(--ecolens-theme);
    color: var(--ecolens-txt);
    font-family: var(--main-font);

}

.home-btn {
    position:fixed;
	width:64px;
	height:64px;
	top:16px;
	left:16px;
	background-color:#32914F;
	border-radius:50px;
	box-shadow: 2px 2px 3px #32914f6e;

    display:flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}
.home-img {
    width: 64%;
    height: 64%;
}
.home-btn:hover {
    width:72px;
	height:72px;
    top:12px;
    left: 12px;
}

.page {
    height: 92vh;
    width: 100%;
}
/*------------------
     First Page     
------------------*/
#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.cover-img {
    width: 30%;
    max-width: 1300px;
    height: 288px;
    object-fit: cover;
}
#undersea-cover {
    border-radius: 32px 0px 0px 32px;
}
#mountain-cover {
    border-radius: 0px 32px 32px 0px;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description1 {
    display:flex;
    flex-direction: column;
}
.complement1 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.arrow-icon{
    width: 80px;
}