:root {
    --main-font: 'Outfit', sans-serif;

    --ecolens-theme: #044C3B;
    --ecolens-txt: #d9e650;
    --light-theme: #32914F;

    --title-size: 64px;
    --subtitle-size: 48px;
    --description-weight: 600;
}

body {
    background: rgb(4,76,59);
    background: linear-gradient(180deg, rgba(4,76,59,1) 0%, rgba(50,145,79,1) 30%, rgba(50,145,79,1) 50%, rgba(4,76,59,1) 100%);
    color: var(--ecolens-txt);
    font-family: var(--main-font);
    overflow-x: hidden;
}

.home-btn {
    position:fixed;
    z-index: 1;
	width:64px;
	height:64px;
	top:16px;
	left:16px;

	background-color:var(--light-theme);
	border-radius:50px;
	box-shadow: 2px 2px 3px #1d38266e;

    display:flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}
.home-img {
    width: 64%;
    height: 64%;
}
.home-btn:hover {
    width:72px;
	height:72px;
    top:12px;
    left: 12px;
}

.page {
    height: 92vh;
    width: 100%;
}

.hspace{
    height: 332px;
}
.smaller-hspace{
    height: 160px;
}
.neg-smaller-hspace{
    height: -160px;
}
/*-----------------------------------------
                First Page     
-----------------------------------------*/
#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
.cover-img {
    width: 30%;
    max-width: 1500px;
    height: 136%;
    object-fit: cover;
}
#undersea-cover {
    border-radius: 32px 0px 0px 32px;
}
#mountain-cover {
    border-radius: 0px 32px 32px 0px;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    max-width: 1728px;
}

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: left;
    z-index: 0;
}
.subtitle1 {
    border: solid 8px;
    font-size: 32px;
    font-weight: var(--description-weight);

    padding: 8px 48px 8px 48px;
    border-radius: 50px;
}
.title1 {
    font-size: 104px;
    font-weight: bold;
}

.complement1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 16px;
    justify-content: center;
    align-items: end;
}
.description1 {
    display:flex;
    flex-direction: column;
    color: #e4e4e4;
    font-weight: 500;
    text-align: right;
    font-size: 24px;
}
.arrow-icon {
    width: 20%;
    max-width: 100px;
    background-color: var(--light-theme);
    padding: 3% 80px 3% 80px;
    border-radius: 12px;
}

.planet-bg-img {
    margin-top: -20%;
    margin-left: -5%;
    z-index: -1;
}
.earth-icon {
    width: 44%;
}

/*-----------------------------------------
                Second Page     
-----------------------------------------*/
#page2 {
    margin-top: -12%;
    display: flex;
    flex-direction: column;
    gap: 16%;
}

.header2 {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}
.title2 {
    font-size: var(--title-size);
    font-weight: bold;
    text-align: right;
}
.text2 {
    color: white;
    width: 66%;
    text-align: right;
    font-size: 20px;
    font-weight: var(--description-weight);
}

.concept-list2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
.concept2 {
    font-size: 32px;
    font-weight: var(--description-weight);
    text-align: center;
    background-color: var(--light-theme);
    border-radius: 32px;
    width: 256px;
    height: 128px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------
                Third Page     
-----------------------------------------*/
#page3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.title3 {
    font-size: var(--title-size);
    font-weight: bold;
    text-align: center;
}
.description3 {
    color: white;
    width: 88%;
    text-align: center;
    font-size: 24px;
    font-weight: var(--description-weight);
}

.icon-list3 {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    gap: 8%;
    justify-content: center;
    margin-bottom: 32px;
}
.env-icon {
    width: 16%;
}

.footer3 {
    color: white;
    width: 88%;
    text-align: center;
    font-size: 24px;
    font-weight: var(--description-weight);
}
/*-----------------------------------------
                Fourth Page     
-----------------------------------------*/
#page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.top-objects4 {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: start;
}
.top-description4 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    width: 75%;
}
.mid-objects4 {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: start;
}
.mid-description4 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    width: 75%;
}
.bot-objects4 {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: start;
}
.bot-description4 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    width: 72%;
}

.objects {
    width: 40%;
    border-radius: 8px;
}

/*-----------------------------------------
                Fifth Page     
-----------------------------------------*/
#page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texts5{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
    align-items: end;
    text-align: right;
}
.title5 {
    font-size: var(--title-size);
    font-weight: bold;
    z-index: 1;
}
.description5 {
    font-weight: var(--description-weight);
    width: 64%;
    font-size: 24px;
    color: white;

    background-color: var(--light-theme);
    box-shadow: 0px 0px 40px 80px var(--light-theme);

    border-radius: 0px 0px 0px 88px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.capsule-image {
    border-radius: 32px;
    width: 80%;
    margin-right: 16%;
    margin-top: -6%;
    z-index: -1;
}

/*-----------------------------------------
                Sixth Page     
-----------------------------------------*/
#page6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title6 {
    font-size: var(--title-size);
    font-weight: bold;
}
.texts6 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 84%;
    gap: 64px;
}
.description6 {
    color: white;
    font-size: 32px;
    width: 44%;
    font-weight: var(--description-weight);
    text-align: left;
}

.controllers {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.controllers-icon {
    margin-top: -40%;
    margin-right: -12%;
    width: 64%;
    z-index: -1;
    overflow: hidden;
}

/*-----------------------------------------
        Environments (pages 7 to 9)     
-----------------------------------------*/
.environments {
    display:flex;
    flex-direction:column;
    width: 44%;
    gap: 16px;
    justify-content: end;
}
.env-text {
    display:flex;
    flex-direction:column;
    width: 44%;
    gap: 32px;
    text-align: left;
    justify-content: space-between;
    align-items: start;
}
.env-text-bis {
    display:flex;
    flex-direction:column;
    width: 44%;
    gap: 32px;
    text-align: right;
    justify-content: space-between;
    align-items: start;
}
.env-title {
    padding-top: 72px;
    padding-bottom: 16px;
    font-size: var(--subtitle-size);
    font-weight: bold;
}
.env-description {
    color: white;
    font-size: 24px;
    font-weight: var(--description-weight);
}
.env-image {
    border-radius: 8px;
    width: 100%;
}
/*-----------------------------------------
                Seventh Page     
-----------------------------------------*/
#page7 {
    margin-top: -104px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

/*-----------------------------------------
                Eigth Page     
-----------------------------------------*/
#page8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

/*-----------------------------------------
                Nineth Page     
-----------------------------------------*/
#page9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

/*-----------------------------------------
                Tenth Page     
-----------------------------------------*/
#page10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------
                Eleventh Page     
-----------------------------------------*/
#page11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------
                Twelveth Page     
-----------------------------------------*/
#page12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}