:root {
    --main-font: 'Outfit', sans-serif;

    --ecolens-theme: #044C3B;
    --ecolens-txt: #d9e650;
    --light-theme: #32914F;

    --title-size: 64px;
    --description-weight: 600;
}

body {
    background-color: var(--ecolens-theme);
    color: var(--ecolens-txt);
    font-family: var(--main-font);

}

.home-btn {
    position:fixed;
	width:64px;
	height:64px;
	top:16px;
	left:16px;
	background-color:var(--light-theme);
	border-radius:50px;
	box-shadow: 2px 2px 3px #32914f6e;

    display:flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}
.home-img {
    width: 64%;
    height: 64%;
}
.home-btn:hover {
    width:72px;
	height:72px;
    top:12px;
    left: 12px;
}

.page {
    height: 92vh;
    width: 100%;
}

/*-----------------------------------------
                First Page     
-----------------------------------------*/
#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
.cover-img {
    width: 30%;
    max-width: 1500px;
    height: 136%;
    object-fit: cover;
}
#undersea-cover {
    border-radius: 32px 0px 0px 32px;
}
#mountain-cover {
    border-radius: 0px 32px 32px 0px;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    max-width: 1728px;
}

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: left;
    z-index: 0;
}
.subtitle1 {
    border: solid 8px;
    font-size: 32px;
    font-weight: var(--description-weight);

    padding: 8px 48px 8px 48px;
    border-radius: 50px;
}
.title1 {
    font-size: 104px;
    font-weight: bold;
}

.complement1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 16px;
    justify-content: center;
    align-items: end;
}
.description1 {
    display:flex;
    flex-direction: column;
    color: #e4e4e4;
    font-weight: 500;
    text-align: right;
    font-size: 24px;
}
.arrow-icon {
    width: 20%;
    max-width: 100px;
    background-color: var(--light-theme);
    padding: 3% 80px 3% 80px;
    border-radius: 12px;
}

.planet-bg-img {
    margin-top: -20%;
    margin-left: -5%;
    z-index: -1;
}
.earth-icon {
    width: 44%;
}

/*-----------------------------------------
                Second Page     
-----------------------------------------*/
#page2 {
    margin-top: -12%;
    display: flex;
    flex-direction: column;
    gap: 16%;
}

.header2 {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}
.title2 {
    font-size: var(--title-size);
    font-weight: bold;
    text-align: right;
}
.text2 {
    color: white;
    width: 66%;
    text-align: right;
    font-size: 20px;
    font-weight: var(--description-weight);
}

.concept-list2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
.concept2 {
    font-size: 32px;
    font-weight: var(--description-weight);
    text-align: center;
    background-color: var(--light-theme);
    border-radius: 32px;
    /*padding: 1.5% 3.5% 1.5% 3.5%;*/
    width: 256px;
    height: 128px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------
                Third Page     
-----------------------------------------*/
#page3 {
    padding-top: 104px;
    background: rgb(4,76,59);
    background: linear-gradient(180deg, rgba(4,76,59,1) 0%, rgba(50,145,79,1) 100%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.title3 {
    font-size: var(--title-size);
    font-weight: bold;
    text-align: center;
}
.description3 {
    color: white;
    width: 88%;
    text-align: center;
    font-size: 24px;
    font-weight: var(--description-weight);
}

.icon-list3 {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    gap: 8%;
    justify-content: center;
    margin-bottom: 32px;
}
.env-icon {
    width: 20%;
}

.footer3 {
    color: white;
    width: 88%;
    text-align: center;
    font-size: 24px;
    font-weight: var(--description-weight);
}
/*-----------------------------------------
                Fourth Page     
-----------------------------------------*/
#page4 {
    background-color: rgba(50,145,79,1);
}